<!doctype html>
<!--
COPYRIGHT by HighHay/Mivfx
Before using this theme, you should accept themeforest licenses terms.
http://themeforest.net/licenses
-->

<html class="no-js" lang="en">

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">

    <!-- Page Title Here -->
    <title>SFR Kişisel Websitesi</title>

    <meta name="description" content="Range of software innovations">
    <meta name="keywords" content="SoftForRange, SFR, software, yazılım, site, websitesi, konya, ankara,
    istanbul, türkiye, konya yazılım, yazılım ajansı, python, java, 
    oracle, ahmet furkan demir, ahmet furkan, mustafa esen, demirai, 
    necmettin erbakan üniversitesi, selçuk üniversitesi, konya teknik üniversitesi,
    bilgisayar mühendisliği, mühendislik, yazılım hizmeti, özel yazılım,
    kurumsal websitesi, kişisel websitesi, yazılım çözümleri, ücretsiz yazılım, program,
    entegrasyon çözümleri, veritabanları, sql server, mysql, postgresql, web sitesi, konya ajans, konya program, 
    mobil uygulama, neü, mobil program, flutter, kotlin, android uygulama, ios uygulama,
    android, ios, apple, play store, app store, reklam ajansı, sosyal medya, sosyal medya içerik, 
    içerik düzenleme, video tasarımı, animasyon tasarımı, instagram gönderi, instagram post, 
    facebook tasarım, linkedin tasarım, animasyon video, video düzenleme, reklam tasarımı, reklam oluşturma, grafik tasarımı, 
    web tasarımı, wordpress, wp, wordpress site tasarımı, hazır site, kod yazmadan websitesi, kodsuz site, basit site,
    konya yazılım, ankara yazılım, bursa yazılım, bi koşu gelsin, yazılım ortağı, programlama dilleri, 
    internet siteleri, websiteleri, hazır site oluştur, hazır site oluşturma, yazılım mühendisliği, 
    hazır web sitesi oluşturma, program yazma, satılık program, HTML, CSS, JavaScript">
    <meta name="author" content="SoftForRange">

    <!-- Disable screen scaling-->
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1, user-scalable=0">

    <!-- Place favicon.ico and apple-touch-icon(s) in the root directory -->

    <!-- Initializer -->
    <link rel="stylesheet" href="../static/timex/css/normalize.css">

    <!-- Web fonts and Web Icons -->
    <link rel="stylesheet" href="../static/timex/css/pageloader.css">
    <link rel="stylesheet" href="../static/timex/fonts/opensans/stylesheet.css">
    <link rel="stylesheet" href="../static/timex/fonts/asap/stylesheet.css">
    <link rel="stylesheet" href="../static/timex/css/ionicons.min.css">

    <!-- Vendor CSS style -->
    <link rel="stylesheet" href="../static/timex/css/foundation.min.css">
    <link rel="stylesheet" href="../static/timex/js/vendor/jquery.fullPage.css">
    <link rel="stylesheet" href="../static/timex/js/vegas/vegas.min.css">

    <!-- Main CSS files -->
    <link rel="stylesheet" href="../static/timex/css/main.css">
    <link rel="stylesheet" href="../static/timex/css/main_responsive.css">
    <link rel="stylesheet" href="../static/timex/css/style-color6.css">

    <script src="../static/timex/js/vendor/modernizr-2.7.1.min.js"></script>
</head>

<body id="menu" class="alt-bg">

    <!-- Page Loader -->
    <div class="page-loader" id="page-loader">
        <div><i class="ion ion-loading-d"></i>
            <p>Yükleniyor</p>
        </div>
    </div>

    <!-- BEGIN OF site header Menu -->
    <!-- Add "material" class for a material design style -->
    <header class="header-top">

        <div class="menu clearfix">
            <a href="#about-us">Hakkımda</a>

            <a href="#contact">İletişim</a>
        </div>
    </header>
    <!-- END OF site header Menu-->

    <!-- BEGIN OF Quick nav icons at left -->
    <nav class="quick-link count-4 nav-left">
       
        <ul id="qmenu" class="qmenu">
            <li data-menuanchor="home">
                <a href="#home" class=""><i class="icon ion ion-home"></i>
					</a>
                <span class="title">Ana Sayfa</span>
            </li>
            <li data-menuanchor="register">
                <a href="#register"><i class="icon ion ion-compose"></i>
					</a>
                <span class="title">İletişimde Kalın</span>
            </li>
            <li data-menuanchor="about-us">
                <a href="#about-us"><i class="icon ion ion-android-information"></i>
					</a>
                <span class="title">Hakkımda</span>
            </li>

            <li data-menuanchor="contact">
                <a href="#contact"><i class="icon ion ion-email"></i>
					</a>
                <span class="title">İLETİŞİM</span>
            </li>
        </ul>
    </nav>
    <!-- END OF Quick nav icons at left -->



    <!-- BEGIN OF site cover -->
    <div class="page-cover" id="s-cover">
        <!-- Cover Background -->
        <div class="cover-bg pos-abs full-size bg-img" data-image-src="../static/timex/img/bg-default.jpg"></div>


        <div class="cover-bg-mask pos-abs full-size bg-color" data-bgcolor="rgba(0, 0, 0, 0.41)"></div>

    </div>
    <!--END OF site Cover -->

    <!-- Begin of timer pane -->
    <div class="pane-when " id="s-when">
        <div class="content">
            <!-- Clock -->
            <div class="clock clock-countdown">
                <div class="site-config" data-date="01/01/2023 00:00:00" data-date-timezone="+0"></div>
                
                <!-- Logo instead -->
                
					
                
            </div>


            <footer>
                
            </footer>
        </div>
    </div>
    <!-- End of timer pane -->

    <!-- BEGIN OF site main content content here -->
    <main class="page-main" id="mainpage">

        <!-- Begin of home page -->
        <div class="section page-home page page-cent" id="s-home">


            <section class="content">

                <header class="header">
                    <div class="h-left">
                        <h2>Erdal <b>Besikcioglu</b></h2>
                    </div>

                    <div>
                    
                        <h4 class="subhead"><a href="#register">official website</a></h4>
                    </div>
                </header>
            </section>

            <!-- Scroll down button -->
            <footer class="p-footer p-scrolldown">
                <a href="#register">
                    <div class="arrow-d">
                        <div class="before">Aşağı</div>
                        <div class="after">Kaydır</div>
                        <div class="circle"><i class="ion ion-mouse"></i></div>
                    </div>
                </a>
            </footer>
        </div>
        <!-- End of home page -->



        <!-- Begin of register page -->
        <div class="section page-register page page-cent" id="s-register">
            <section class="content">
                <header class="p-title">
                    <h3>Haberdar Ol<i class="ion ion-compose"></i></h3>
                    
                </header>
                <div>
                    <form id="mail-subscription" class="form magic send_email_form" method="get" action="ajaxserver/serverfile.php">
                        <p class="invite">E-posta adresi bırakarak gelişmelerden haberdar olabilirsiniz :</p>
                        <div class="fields clearfix">
                            <div class="input">
                                <label for="reg-email">E-Posta </label>
                                <input id="reg-email" class="email_f" name="email" type="email" required placeholder="email@adresiniz.com" data-validation-type="email" align="center"></div>
                            <div class="buttons">
                                <button id="submit-email" class="button email_b" name="submit_email">Gönder</button>
                            </div>
                        </div>

                        <p class="email-ok invisible"><strong>Thank you</strong> for your subscription. We will inform you.</p>
                    </form>
                </div>
            </section>
            <footer class="p-footer p-scrolldown">
                <a href="#about-us">
                    <div class="arrow-d">
                        <div class="before">Ana Sayfa</div>
                        <div class="after">Hakkımda</div>
                        <div class="circle"><i class="ion ion-mouse"></i> </div>
                    </div>
                </a>
            </footer>
        </div>
        <!-- End of register page -->

        <!-- Begin of about us page -->
        <div class="section page-contact page page-cent  bg-color" data-bgcolor="rgba(95, 25, 208, 0.88)s" id="s-contact">
            <section class="content">

                <header class="p-title">
                    <h3>Hakkımda<i class="ion ion-android-information">
                            </i>
                    </h3>
                    <p class="subhead"><span class="bold">Eğitim</span> </p>
                </header>
                <article class="text">
                    <p>Hacettepe Üniversitesi Devlet Konservatuvarı Tiyatro</p>
                    <p class="subhead"><span class="bold">Sinema</span> </p>
                    <p>12 Farklı Proje </p>
                    <p class="subhead"><span class="bold">Dizi</span> </p>
                    <p>16 Farklı Proje </p>
                    <p class="subhead"><span class="bold">Tiyatro</span> </p>
                    <p>19 Farklı Proje </p>
                    <p class="subhead"><span class="bold">Ödül</span> </p>
                    <p>48. Antalya Altın Portakal Film Festivali – En İyi Erkek Oyuncu Ödülü</p>
                    
                    
                </article>
            </section>
            <footer class="p-footer p-scrolldown">
                <a href="#contact">
                    <div class="arrow-d">
                        <div class="before">Bülten</div>
                        <div class="after">İletişim</div>
                        <div class="circle"><i class="ion ion-mouse"></i></div>
                    </div>
                </a>
            </footer>
        </div>
        <!-- End of about us page -->

        <!-- Begin of Contact page   -->
        <div class="section page-contact page page-cent  bg-color" data-bgcolor="rgba(95, 25, 208, 0.88)s" id="s-contact">
            <!-- Begin of contact information -->
            <div class="slide" id="s-information" data-anchor="information">
                <section class="content">
                    <header class="p-title">
                        <h3>MENEJERLİK
								
                        </h3>
                        <ul class="buttons">
                            <li class="show-for-medium-up">
                                <a title="About" href="#about-us"><i class="ion ion-android-information"></i></a>
                            </li>
                            <!--<li>
									<a title="Contact" href="#contact/information"><i class="ion ion-location"></i></a>
								</li>-->
                            <li>
                                <a title="Message" href="#contact/message"><i class="ion ion-email"></i></a>
                            </li>
                        </ul>
                    </header>
                    <!-- Begin Of Page SubSction -->
                    <div class="contact">
                        <div class="row">
                            <div class="medium-6 columns left">
                                <ul>
                                    <li>
                                        <h4>E-Posta</h4>
                                        <p><a href="mailto://contact@mail.com">iletisimemail@mail.com</a></p>
                                    </li>
                                    <li>
                                        <h4>Adress</h4>
                                        <p>Çankaya
                                            <br>ANKARA</p>
                                    </li>
                                    <li>
                                        <h4>Telefon</h4>
                                        <p>+999 123 456 89</p>
                                    </li>
                                </ul>
                            </div>
                            <div class="medium-6 columns social-links right">
                                <ul>

                                    <!-- legal notice -->
                                    <li class="show-for-medium-up">
                                        <h4>Website</h4>
                                        <p><a href="/">www.softforrange.com</a></p>
                                    </li>
                                    <li class="show-for-medium-up">
                                        <h4>Takip Edİn</h4>
                                        <!-- Begin of Social links -->
                                        <div class="socialnet">
                                            <a href="#"><i class="ion ion-social-facebook"></i></a>
                                            <a href="#"><i class="ion ion-social-instagram"></i></a>
                                            <a href="#"><i class="ion ion-social-twitter"></i></a>
                                           
                                        </div>
                                        <!-- End of Social links -->
                                    </li>
                                    <li>
                                        
                                        <p class="small">Designed by<strong><a href="/" target="_blank"> SoftForRange</a></strong>2022</p>
                                    </li>
                                </ul>

                            </div>
                        </div>
                    </div>
                    <!-- End of page SubSection -->
                </section>
            </div>
            <!-- end of contact information -->

            <!-- begin of contact message -->
            <div class="slide" id="s-message" data-anchor="message">
                <section class="content">
                    <header class="p-title">
                        <h3>Bİze Yazın<i class="ion ion-email">
								</i>
                        </h3>
                        <ul class="buttons">
                            <li class="show-for-medium-up">
                                <a title="About" href="#about-us"><i class="ion ion-android-information"></i></a>
                            </li>
                            <li>
                                <a title="Contact" href="#contact/information"><i class="ion ion-location"></i></a>
                            </li>

                        </ul>
                    </header>
                    <!-- Begin Of Page SubSction -->

                    <div class="page-block c-right v-zoomIn">
                        <div class="wrapper">
                            <div>
                                <form class="message form send_message_form" method="get" action="ajaxserver/serverfile.php">
                                    <div class="fields clearfix">
                                        <div class="input">
                                            <label for="mes-name">Ad Soyad </label>
                                            <input id="mes-name" name="name" type="text" placeholder=" Adınız Soyadınız" required></div>
                                       
                                    </div>
                                    <div class="fields clearfix">
                                        <div class="input">
                                            <label for="mes-email">E-Posta </label>
                                            <input id="mes-email" type="email" placeholder="E-Posta Adresiniz" name="email" required>
                                        </div>
                                    </div>
                                    <div class="fields clearfix no-border">
                                        <label for="mes-text">Mesaj </label>
                                        <textarea id="mes-text" placeholder="Mesajınız..." name="message" required></textarea>

                                        <div>
                                            <p class="message-ok invisible">Mesajınız gönderildi.Teşekkürler</p>
                                        </div>
                                    </div>
                                    <div class="buttons">
                                        <button id="submit-message" class="button email_b" name="submit_message">Gönder</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- End Of Page SubSction -->
                </section>

            </div>
            <!-- End of contact message -->
        </div>
        <!-- End of Contact page  -->

    </main>

    <!-- END OF site main content content here -->

    <!-- Begin of site footer -->
    <footer class="page-footer">
        <div>
            <a href="https://www.facebook.com/profile.php?id=100081611833933" target="_blank"><i class="ion icon ion-social-facebook"></i></a>
            <a href="https://www.instagram.com/softforrange/" target="_blank"><i class="ion icon ion-social-instagram"></i></a>
            <a href="https://twitter.com/softforrange" target="_blank"><i class="ion icon ion-social-twitter"></i></a>
        </div>
    </footer>
    <!-- End of site footer -->


    <!--        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>-->

    <!-- All Javascript plugins goes here -->
    <!--		<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>-->
    <script src="../static/timex/js/vendor/jquery-1.11.2.min.js"></script>
    <!-- All vendor scripts -->
    <script src="../static/timex/js/vendor/all.js"></script>


    <script src="../static/timex/js/vendor/jquery.fullPage.min.js"></script>
        <script src="../static/timex/js/vendor/jquery.slimscroll.min.js"></script>
        <script src="../static/timex/js/vendor/jquery.knob.min.js"></script>
        <script src="../static/timex/js/vegas/vegas.min.js"></script>
        <script src="../static/timex/js/jquery.maximage.js"></script>
        <script src="../static/timex/js/okvideo.min.js"></script>

    <!-- Downcount JS -->
    <script src="../static/timex/js/jquery.downCount.js"></script>

    <!-- Form script -->
    <script src="../static/timex/js/form_script.js"></script>

    <!-- Javascript main files -->
    <script src="../static/timex/js/main.js"></script>



</body>

</html>